/* Layout CSS */
.section-content-p35 {
  padding: 0 35px;
}
.logo-sm{
  display: none;
}

.page-wrapper {
  overflow: hidden;
  background: #e5e5e5;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: row;
}

.page-container {
  margin-left: 25vw;
  background: #e5e5e5;
  padding: 20px;
  flex-grow: 1;

}

.main-content {
  padding-top: 116px;
  min-height: 100vh;
}

.menu-sidebar {
  width: 25vw;
  background-color: #240A34;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-bottom: 20px;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 80%;
  height: auto;
  transition: transform 0.3s;
}

.logo img:hover {
  transform: scale(1.05);
}

.menu-sidebar-content {
  width: 100%;
  overflow-y: auto;
  padding: 20px;
}

.navbar-sidebar {
  width: 100%;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  margin: 10px 0;
}

.navbar-list a {
  text-decoration: none;
  color: #FFEDD8;
  padding: 10px 15px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #891652;
}

.navbar-list a:hover {
  background-color: #FFEDD8;
  color: #891652;
}

.navbar-list a.active-link {
  background-color: #FFEDD8;
  color: #891652;
}





/* Header Styles */
.header-desktop {
  background: #240A34;
  padding: 10px 0;
  color: white;
}

.section-content {
  padding: 0 30px;
}

.container-fluid {
  max-width: 1200px; /* Limit container width for larger screens */
  margin: 0 auto; /* Center the container */
  padding: 0 15px; /* Add padding to container */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-user-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


@media (max-width: 1050px) {
  .container-fluid {
    padding: 0 15px;
  }

  .section-content {
    padding: 0 15px;
  }

  .header-wrap {
    flex-direction: column; /* Stack items vertically on small screens */
    margin: auto;
  }
  .header-user-wrap{
    justify-content: center;
  }

}

@media (max-width: 695px) {
  .container-fluid {
    padding: 0 .2rem;
  }
  .page-container{
    padding: 0 1px;
    margin: auto;
  }
  .section-content {
    padding: 0 1px;
  }
  .menu-sidebar{
    display: none;
  }
  .logo-sm{
    display:block;
    width: 30%;
    margin-top: 20px;
  }


}
@media (max-width: 460px) {
  .container-fluid {
    padding: 0 1px;
  }

}



/* Main Content Styles */
.main-content {
  padding: 20px 0;
}

.section-content-p30 {
  padding: 30px 15px;
}

.container-fluid {
  max-width: 1200px;
  margin: auto;
}


