<div class="cart-area container">
  <div *ngIf="authService.userSig() === null" class="d-flex justify-content-end">
    <div class="mx-2">
      <a routerLink="/login" class="btn btn-primary">
        Login
      </a>
    </div>
    <div class="mx-2">
      <a routerLink="/register" class="btn btn-secondary">
        Register
      </a>
    </div>
  </div>
  <div *ngIf="authService.userSig() || authService.userSig() === undefined" class="d-flex justify-content-end align-items-center user-info">
    <div class="mx-2">
      <h4 class="mb-0">Welcome {{ getUser() }}</h4>
    </div>
    <div class="mx-2">
      <a (click)="logout()" class="btn btn-danger">
        Logout
      </a>
    </div>
  </div>
</div>
