.cart-area {

  padding: 10px;
  border-radius: 5px;

}
.cart-area h3 {
  margin-bottom: 0;
}

.user-info {

  padding: 10px;
  border-radius: 5px;

}
.btn-primary{
  background-color: #891652;
  border-color: #891652;
}
.btn-primary:hover{
  background-color: #91064e;
  border-color: #91064e;
}
.user-info h4 {
  color: #FFEDD8;
}

.user-info .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.user-info .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
