<div class="main-content page-m">
  <div class="section-content section-content-p30">

    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- Address -->
        <div formGroupName="address" class="form-area">
          <h3>Address</h3>

          <div class="row">
            <div class="col-md-2"><span>City</span></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city">
                  <option></option>
                  <option *ngFor="let city of cities">{{city.cityName}}</option>


                </select>
                <div *ngIf="city?.invalid && (city?.dirty||city?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="city?.hasError('required')">
                    City is Required.
                  </div>



                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><span>Full Address</span></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="address" type="text">
                <div *ngIf="address?.invalid && (address?.dirty||address?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="address?.hasError('required')||address?.hasError('notOnlySpaces')">
                    Address is Required.
                  </div>
                  <div *ngIf="address?.hasError('minlength')">
                    Address is too short.
                  </div>


                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2"><span>Card Type</span></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>MasterCard</option>
                </select>
                <div *ngIf="cardType?.invalid && (cardType?.dirty||cardType?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="cardType?.hasError('required')">
                    Card Type is Required.
                  </div>



                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><span>Name On Card</span></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">
                <div *ngIf="nameOnCard?.invalid && (nameOnCard?.dirty||nameOnCard?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="nameOnCard?.hasError('required')||nameOnCard?.hasError('notOnlySpaces')">
                    Name On Card is Required.
                  </div>
                  <div *ngIf="nameOnCard?.hasError('minlength')">
                    Name on card is too short.
                  </div>


                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><span>Number</span></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty||cardNumber?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="cardNumber?.hasError('required')">
                    Card Number is Required.
                  </div>
                  <div *ngIf="cardNumber?.hasError('pattern')">
                    Card Number consists of 16 digits.
                  </div>


                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><span>Security Code</span></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">
                <div *ngIf="securityCode?.invalid && (securityCode?.dirty||securityCode?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="securityCode?.hasError('required')">
                    Security Code is Required.
                  </div>
                  <div *ngIf="securityCode?.hasError('pattern')">
                    Security Code consists of 3 digits.
                  </div>


                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><span>Expiration Month</span></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonths">{{month}}</option>



                </select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><span>Expiration Year</span></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleShowedMonths()">
                  <option *ngFor="let year of creditCardYears">{{year}}</option>
                </select>

              </div>
            </div>
          </div>
        </div>
        <!-- Order Summary -->
        <div class="form-area">
          <h3>Your Order</h3>
          <p>Total Quantity: {{totalQuantity}}</p>
          <p>Shipping: Free</p>
          <p>Total Price: {{totalPrice|currency:'USD'}}</p>
        </div>
        <!-- Submit Button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>

      </form>
    </div>

  </div>

</div>
