/* Common CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
}

button,
input[type=button] {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

input {
  border: none;
}

button {
  border: none;
  background: 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

a {
  display: inline-block;
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a,
a:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Pagination global styles */
.ngb-pagination ul > li:not(.active) > a {
  background-color: #240a34 !important;
  color: #ffedd8;
}

.ngb-pagination ul > li.active > a {
  background-color: #ffedd8 !important;
  color: #891652;
}

.ngb-pagination ul > li > a {
  border-color: #ffedd8 !important;
}

/* Shopping Cart Checkout */
.form-area {
  background: #e5e5e5;
  position: relative;
  margin-bottom: 45px;
  padding: 50px 20px;
  border: 3px solid #ccc;
}

.form-area h3 {
  position: absolute;
  top: -26px;
  left: 13px;
  background: #e5e5e5;
  padding: 10px 20px;
  font-weight: 500;
  z-index: 23;
  display: inline-block;
}

.input-space {
  margin-bottom: 20px;
}

.input-space label {
  padding-left: 31px;
  font-size: 14px;
  margin-bottom: 50px;
}

.input-space input[type=text] {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  outline: 0;
  padding: 10px;
  border: 1px solid #ccc;
}

.input-space select {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  outline: 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
/* Footer Styles */
.footer {
  background-color: #240a34;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: #ffedd8;
}
