<div class="register-container container mt-5">
  <h2 class="text-center mb-4">Register</h2>
  <form (ngSubmit)="register()" [formGroup]="registerData">
    <div class="form-group mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        formControlName="firstname"
        class="form-control"
        required
      />
      <div *ngIf="firstName?.invalid && (firstName?.dirty||firstName?.touched)" class="alert alert-danger mt-1">
        <div *ngIf="firstName?.hasError('required')||firstName?.hasError('notOnlySpaces')">
                            First Name is Required.
        </div>
        <div *ngIf="firstName?.hasError('minlength')">
                            First Name is too short.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        formControlName="lastname"
        class="form-control"
        required
      />
      <div *ngIf="lastName?.invalid && (lastName?.dirty||lastName?.touched)" class="alert alert-danger mt-1">
        <div *ngIf="lastName?.hasError('required')||lastName?.hasError('notOnlySpaces')">
                            Last Name is Required.
        </div>
        <div *ngIf="lastName?.hasError('minlength')">
                            Last Name is too short.
        </div>


      </div>
    </div>

    <div class="form-group mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        class="form-control"
        required
      />
      <div *ngIf="username?.invalid && (username?.dirty||username?.touched)" class="alert alert-danger mt-1">
        <div *ngIf="username?.hasError('required')||username?.hasError('notOnlySpaces')">
          Username is Required.
        </div>
        <div *ngIf="username?.hasError('minlength')">
          Username is too short.
        </div>


      </div>
    </div>

    <div class="form-group mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        class="form-control"
        required
      />
      <div *ngIf="email?.invalid && (email?.dirty||email?.touched)" class="alert alert-danger mt-1">
        <div *ngIf="email?.hasError('required')||email?.hasError('notOnlySpaces')">
          Email is Required.
        </div>
        <div *ngIf="email?.hasError('pattern')">
          Email is not in a valid pattern.
        </div>


      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        class="form-control"
        required
      />
      <div *ngIf="password?.invalid && (password?.dirty||password?.touched)" class="alert alert-danger mt-1">
        <div *ngIf="password?.hasError('required')||password?.hasError('notOnlySpaces')">
          Password is Required.
        </div>
        <div *ngIf="password?.hasError('minlength')">
          Password is too short.
        </div>


      </div>
    </div>

    <button type="submit" class="btn w-100">Register</button>
  </form>
</div>
