/* Search Component Styles */
.form-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f1fc;
  border: 1px solid #e2d6ed;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.au-input {
  width: 18rem;
  padding: 10px;
  border: 1px solid #b392cc;
  border-radius: 6px;
  margin-right: 10px;
  background-color: #ffffff;
  font-size: 14px;
  box-shadow: 0 0 4px rgba(241, 92, 178, 0.5);
}

.au-input:focus {
  outline: none;
  border: 1px solid #891652;
  box-shadow: 0 0 8px rgba(115, 0, 65, 0.5);
}

.au-btn-submit {
  background-color: #6d238e;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.au-btn-submit:hover {
  background-color: #8b31b3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.au-btn-submit:active {
  background-color: #4d1568;
  transform: scale(0.98);
}

@media (max-width: 450px) {
  .form-header{
    padding: 5px 1px;
  }
  .au-input {
    width: 250px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 6px;
  }

  .au-btn-submit {
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
  }
}
